<h1> Why Do We Need Sleep? </h1>

<p><%="We tend to think of sleep as a time when the mind and body shut down. But this is not the case; sleep is an active period in which a lot of important processing, restoration, and strengthening occurs. Exactly how this happens and why our bodies are programmed for such a long period of slumber is still somewhat of a mystery. But scientists do understand some of sleep's critical functions, and the reasons we need it for optimal health and wellbeing."%></p>
<br>

<p><%="One of the vital roles of sleep is to help us solidify and consolidate memories. As we go about our day, our brains take in an incredible amount of information. Rather than being directly logged and recorded, however, these facts and experiences first need to be processed and stored; and many of these steps happen while we sleep. Overnight, bits and pieces of information are transferred from more tentative, short-term memory to stronger, long-term memory—a process called 'consolidation.' Researchers have also shown that after people sleep, they tend to retain information and perform better on memory tasks. Our bodies all require long periods of sleep in order to restore and rejuvenate, to grow muscle, repair tissue, and synthesize hormones."%></p>

<br>

<%= button_to 'Get test', new_test_result_path, class: 'btn btn-primary btn-large' %>